<footer class="footer bg-dark text-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>Quick Links:
            <a href="/">Home</a> |
            <a href="/feedhope-about-us">About Us</a> |
            <a href="/how-it-works">How It Works</a> |
            <a href="/feedhope-contact_Us">Contact Us</a>
          </div>
          <div>Contact: digupathania25@gmail.com</div>
          <div>&copy; 2024 FeedHope. All rights reserved.</div>
        </div>
      </div>
    </div>
</footer>