<nav class="navbar navbar-expand-lg navbar-dark bg-dark-subtle fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/feedhope">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item mx-1">
            <a class="nav-link" href="/feedhope-about-us">ABOUT US</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/how-it-works">HOW WE WORK</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/events">EVENTS</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/volunteer-login">VOLUNTEER</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/feedhope-contact_Us">CONTACT US</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/volunteer-registration">Join<span class="material-symbols-outlined">heart_plus</span> as VOLUNTEER</a>
                </li>
            </ul>
        </div>
    </div>
</nav>