<nav class="navbar navbar-expand-lg fixed-top py-1" style="background-color: #ffffff; box-shadow: 0 2px 4px rgba(0,0,0,.08);">
  <div class="container-fluid">
    <a href="/feedhope" class="navbar-brand d-flex align-items-center">
      <img src="/images/feedhope-logo.webp" class="rounded-3" alt="FeedHope Logo" style="height: 30px; margin-right: 10px;">
      <span style="font-weight: 700; font-family: 'Roboto Slab', serif; color: #333;">FeedHope</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FeedHope</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item"><a class="nav-link fw-medium" href="/feedhope-about-us">About Us</a></li>
          <li class="nav-item"><a class="nav-link fw-medium" href="/feedhope-how-it-works">Our Process</a></li>
          <li class="nav-item"><a class="nav-link fw-medium" href="/feedhope-events">Events</a></li>
          <li class="nav-item"><a class="nav-link fw-medium" href="#donationSection">Donate $</a></li>
          <li class="nav-item"><a class="nav-link fw-medium" href="/volunteer-registration">Become a Volunteer</a></li>
          <li class="nav-item"><a class="nav-link fw-medium" href="/feedhope-contact-us">Contact Us</a></li>
        </ul>
        <div class="d-flex ms-auto">
          <% if (currentUser) { %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle rounded-pill" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #6994bb; border-color: #589edb; color: #fff;">
                Hello, <%= currentUser.name %>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="/feedhope-user-dashboard">Dashboard</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form action="/feedhope-user-logout" method="POST">
                    <button type="submit" class="dropdown-item">Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          <% } else { %>
            <a class="btn btn-outline-dark px-4 py-2 rounded-pill shadow-sm me-2" href="/feedhope-user-login">
              <span class="fw-bold">Login</span>
            </a>
            <a class="btn btn-primary px-4 py-2 rounded-pill shadow-sm animate__animated animate__pulse animate__infinite" href="/feedhope-user-register">
              <span class="text-white fw-bold">Sign Up</span>
            </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>