.contactUs-image{
    background-image: url("img-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 500px;
}

h1{
    font-family: "Margarine", sans-serif;
    font-weight: bolder;
}

input, textarea {
    opacity: .8;
}

@media (max-width: 600px) {
    .contactUs-image{
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 300px;
    }   
}