<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedHope - Development</title>
</head>
<body>
    <div class="container">
        <div class="card">
          <h1 class="mb-4">This Project is Under Development</h1>
          <p class="lead">
            We're working hard to bring you an amazing experience. In the meantime, you can explore the features of this project by clicking the button below.
          </p>
          <a href="/feedhope" class="btn btn-primary btn-lg mt-3">Check Out Features</a>
        </div>
    </div>
</body>
</html>