  <div class="container text-center mt-5">
    <h1 class="mb-3">Contribute to Our Project</h1>
    <p class="mb-4">We welcome contributions to make our project even better. Check out the repository to get started!</p>
    <a href="https://github.com/digvijay2003/VolunteerPlatform" class="btn btn-primary btn-lg" target="_blank">
      <i class="bi bi-github"></i> Visit Our GitHub Repository
    </a>
  </div>