body {
    font-family: "Montserrat", sans-serif;
    color: #333;
}

.text-black {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-radius: 25px;
    background-color: #ffffff;
}

h1 {
    font-family: "Wittgenstein", serif;
}

h1:hover {
    color: #1e90ff;
    transition: 1s;
}

.text-black:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #fdcdce, #c4e0fd);
    transform: scale(1.005);
    transition: 1s;
}

.form-label {
    font-weight: 500;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.volunteer-image {
    background-image: url("pexels-roman-odintsov-12725413.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    border-radius: 1.2rem;
}

.btn-primary {
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.btn-secondary {
    background-color: #ff4e50;
    border-color: #ff4e50;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.8;
}

.alert {
    border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .volunteer-image {
        background-size: cover;
        height: 600px;
        margin-top: 20px;
        border-radius: 15px;
    }
}


@media (max-width: 768px) {
    .volunteer-image {
        background-size: cover;
        height: 500px;
        width: 500px;
        margin-top: 20px;
        border-radius: 15px;
    }
}

@media (max-width: 500px) {
    .volunteer-image {
        background-size: cover;
        height: 350px;
        width: 300px;
        margin-top: 20px;
        border-radius: 15px;
    }
}